# -*- coding: utf-8 -*-

consumerKey=''
consumerSecret=''
developerToken=''
noteStoreUrl='https://www.evernote.com/shard/s69/notestore'

TOKEN_EXPIRY_DATE=''

DATA_PATH = 'data'

OUTPUT_PATH = '/var/www/evernote'

