{% extends "base.html" %}

{% block title %}{{ note.title }} - Evernote Publisher{% endblock %}

{% block content %}
<a href="..">back to listing index</a>
<br />

<div class="title">
<h3>{{ note.title }}</h3>
[<a href="https://encrypted.google.com/search?q={{ note.urlencoded_query }}" target="_blank">web search</a>]
</div>

<div class="container">
{% if note.sourceUrl %}
<a href="{{ note.sourceUrl }}" target="_blank">Original source</a> (<a href="{{ note.sourceDomainUrl }}" target="_blank">{{ note.sourceDomain }}</a>)
{% else %}
<em>Original source unknown</em>
{% endif %}
</div>

{% if note.tags %}
<div class="container">
Tags:
{% for tag in note.tags %}
<a href="../tag/{{ tag.name }}.html">{{ tag.name }}</a>
{% endfor %}
</div>
{% endif %}
<div class="container">
Clipped on: {{ note.createdTs.strftime('%Y-%m-%d') }}
</div>

<div class="container">
{{ note | contentWithTranslatedAssets }}
</div>
{% endblock %}

